.screen {
    height: 4rem;
    margin-bottom: 4rem;
}

.wrapper {
    background: #f7f8f9;
    width: 20rem;
    padding: 2rem;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
}

.buttonBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.button {
    background: #e9f0f4;
    color: #242424;
    border: none;
    font-size: 1.5rem;
    height: 3.5rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    border: 2px dotted #242424;
}

.equals {
    background: #4bd086;
    grid-column: 3/5;
}

.opt {
    background: #f79505;
}