/* #region --calculator1-- */
.screen {
    height: 4rem;
    margin-bottom: 4rem;
}

.wrapper {
    background: #f7f8f9;
    width: 20rem;
    padding: 2rem;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
}

.buttonBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.button {
    background: #e9f0f4;
    color: #242424;
    border: none;
    font-size: 1.5rem;
    height: 3.5rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    border: 2px dotted #242424;
}

.equals {
    background: #4bd086;
    grid-column: 3/5;
}

.opt {
    background: #f79505;
}
/* #endregion --calculator1-- */

/* #region --calculator stella-- */
.container-stella {
    display: grid;
    place-items: center;
    padding: 3rem;
    transition: all .5s ease;
}

.calculator-stella {
    position: relative;
    height: auto;
    width: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 30px #8a817c;
}

.theme-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler::before {
    content: "";
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 3rem;
    max-width: 8.3rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.5rem;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

.btn-stella{
    height: 2rem;
    width: 2rem;
    border: 0;
    border-radius: .5rem;
    margin: .1rem;
    font-size: .7rem;
    cursor: pointer;
    transition: all 200ms ease;
}
.btn-stella:hover {
    transform: scale(1.1);
}
.btn-stella#equal {
    height: 4.2rem;
}
/* #region -light theme- */
.calculator-stella {
    background-color: #fbfefb;
}
.calculator-stella #display {
    color: #0a1e23;
}
.calculator-stella .btn-stella#clear {
    background-color: #db7f8e;
    color: #ffdbda;
}
.calculator-stella .btn-stella.btn-number-stella {
    background-color: #339989;
    color: #7de2d1;
}
.calculator-stella .btn-stella.btn-operator-stella {
    background-color: #b6a6ca;
    color: #f1e4f3;
}
.calculator-stella .btn-stella.btn-equal-stella {
    background-color: #19647e;
    color: #eee5e5;
}
/* #endregion -light theme */

/* #region -dark theme- */
.calculator-stella.dark {
    background-color: #071115;
}
.calculator-stella.dark #display {
    color: #f8fafd;
}
.calculator-stella.dark .btn-stella#clear {
    background-color: #785964;
    color: #d5c7bc;
}
.calculator-stella.dark .btn-stella.btn-number-stella {
    background-color: #3a606e;
    color: #f8fafb;
}
.calculator-stella.dark .btn-stella.btn-operator-stella {
    background-color: #afbfc0;
    color: #4e8098;
}
.calculator-stella.dark .btn-stella.btn-equal-stella {
    background-color: #566246;
    color: #eee5e5;
}
/* #endregion -dark theme */

/* #endregion --calculator stella-- */